/*main css*/

.title-classRoom{
    color: gray!important;
}

.img-logo{
    padding-left: 10px;
}

.btns-nav{
    color: #797979;
    border-color: transparent;
}

.img-profile{
    width: 40px;
    border-radius: 30px;
}

.header-card{
    background: url(../src/img/img_reachout.jpg);
}
.titleCardModal{
    margin-bottom: -56px;
}

.title-descrip {
    color: white;
    margin-left: 15px;
}

.title-card{
    margin-bottom: 0;
}

.footer-card{
    text-align: right;
    padding: 5px;
}

.hr{
    margin-top: 0rem;
}

.div-nav-clase {
    margin-top: 12px;
    margin-left: 30%;
    border-bottom: 1px solid #007af3;
}

.txt-card {
    color: black
}

.border-card-img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.border-card{
    border-radius: 10px;
}

.sombra {
    margin: 25px auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 6px #00000052; 
}

.div-btn-vertodo{
    text-align: right;
}

.btn-vertodo{
    color: #007b83;
}

.title-color{
    color: #007b83;
}

.form-anuncio{
    padding: 15px;
}

.input-anuncio{
    border-radius: 10px;
    border-color: transparent;
}

.form-group-anuncio{
    width: 100%;
}

.title-comunicate{
    width: 100%;
}

.w-100{
    width: 100%;
}

.btn-nueva-asignacion{
    padding: 15px 30px;
    border-radius: 50px;
}

.icn-plus{
    color: white;
    padding-right: 20px;
    padding-left: 10px;
}

tbody {
    width: 100%;
    display: table;
}

.border-table {
    border-top: 0!important;
    border-left: 0!important;
    border-right: 0!important;
}

.tab-asignaciones{
    margin-top: 50px;
}

.ta-r{
    text-align:right ;
}

.c-b{
    color: #206bd3;
}

.bc-b{
    border-color: #206bd3;
}

.ta-c{
    text-align: center;
}

.navbar-vertical{
    display: block;
    position: fixed;
    top: 0;
    background-color: white
}

