<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google ClassRoom</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://kit.fontawesome.com/c0d32cfc92.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark background_nav pb-0">
        <button class="btn my-2 my-sm-0" type="button"  data-toggle="collapse" data-target="#navbar-vertical" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars btn-barras btns-nav fa-lg"></i></button>
        <div>
            <a class="navbar-brand title-classRoom mt-0 pt-0 pb-0"><small><strong id="id-clase"></strong></small></a>
            <p class="mb-0"><small id="id-seccion"></small></p>
        </div>
        <div class="nav nav-tabs div-nav-clase" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-clase-tab" data-toggle="tab" href="#nav-clase" role="tab" aria-controls="nav-clase" aria-selected="true">Clase</a>
            <a class="nav-item nav-link" id="nav-asignaciones-tab" data-toggle="tab" href="#nav-asignaciones" role="tab" aria-controls="nav-asignaciones" aria-selected="false">Asignaciones</a>
            <a class="nav-item nav-link" id="nav-participantes-tab" data-toggle="tab" href="#nav-participantes" role="tab" aria-controls="nav-participantes" aria-selected="false">Participantes</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-cog btns-nav fa-lg"></i></button>
                <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-th btns-nav fa-lg"></i></button>
                <!--button class="btn my-2 my-sm-0" type="submit" id="profile-instructor"></button-->
                <button class="btn my-2 my-sm-0 ml-auto" type="button" id="profile-instructor"  data-toggle="collapse" data-target="#list-instructores" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"></button>
            </form>
        </div>
    </nav>
    <hr class="hr">
    <div class="container">
        <div class="row">
            <div class="tab-content w-100" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-clase" role="tabpanel" aria-labelledby="nav-clase-tab">
                    <!--Clase-->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-10 col-md-10 col-sm-10" >
                                <div class="card text-white border-card sombra">
                                    <img class="card-img border-card-img" src="../src/img/img_reachout.jpg" alt="Card image">
                                    <div class="card-img-overlay">
                                        <h5 id="title-clase" class="card-title"></h5>
                                        <p id="seccion-clase" class="card-text"></p>
                                        <p id="codigo-clase" class="card-text"><strong></strong></p>
                                    </div>
                                    <div class="card-body">
                                        <p id="descripcion-clase" class="card-text txt-card"><strong>Descripcion:</strong> </p>
                                        <p id="aula-clase" class="card-text txt-card"><strong>Aula</strong> </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-md-1 col-sm-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-xl-1 col-md-1 col-sm-1"></div>
                            <div class="col-xl-3 col-md-3 col-sm-3">
                                <div class="card border-card sombra">
                                    <div class="card-body text-secondary">
                                        <h6 class="card-title">Proximas entregas</h6>
                                        <div id="clase-asignaciones">
                                            <!---card pequena de asignaciones-->
                                        </div>
                                        <div class="div-btn-vertodo">
                                            <a class="btn-vertodo" href="">Ver todo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-md-7 col-sm-7" >
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <div class="card text-white border-card sombra">
                                                <form class="form-inline form-anuncio">
                                                    <div class="form-group form-group-anuncio">
                                                        <label for="inputAnuncio" id="anuncio-instructor"><!--aqui va la foto del instructor---></label>
                                                        <input type="text" id="inputAnuncio" class="form-control mx-sm-6 input-anuncio" placeholder="Anuncia algo a tu clase">
                                                        <div class="ml-auto">
                                                            <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-retweet btns-nav fa-lg"></i></button>
                                                        </div>
                                                    </div>  
                                                </form>
                                            </div>
                                        </div>
                                        <!---aqui se van a mostrar los anuncios-->
                                        <div class="col-xl-12 col-md-12 col-sm-12 mb-5">
                                            <div class="container-fluid">
                                                <div id="anuncios-clase" class="row">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <div class="card text-white border-card">
                                                <form class="form-inline form-anuncio">
                                                    <div class="form-group form-group-anuncio pt-1 pb-1 pl-1">
                                                        <h5 class="title-color title-comunicate"> Comunicate con tu clase aqui</h5> <br>
                                                        <div class="w-100">
                                                            <button class="btn my-2 my-sm-0 pl-0" type="submit"><i class="far fa-comment-alt btns-nav fa-lg"></i><a class="ml-2">Crea y programa anuncios</a></button>
                                                        </div>
                                                        <div class="w-100">
                                                            <button class="btn my-2 my-sm-0 pl-0" type="submit"><i class="fas fa-comment-alt fa-lg "></i><a class="ml-2"> Responde a las publicaciones de los alumnos</a></button>
                                                        </div>
                                                    </div>  
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-1 col-md-1 col-sm-1"></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade w-100 tab-asignaciones" id="nav-asignaciones" role="tabpanel" aria-labelledby="nav-asignaciones-tab">
                    <!---asignaciones-->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="mb-4">
                                        <button class="btn btn-primary my-2 my-sm-0 btn-nueva-asignacion" type="submit"><i class="fas fa-plus btns-nav fa-lg icn-plus"></i> Nueva asignacion</button>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <table class="table-responsive align-middle">
                                <tbody id="table-asignaciones">
                                    <!---asignaciones-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-participantes" role="tabpanel" aria-labelledby="nav-participantes-tab">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <h1 class="c-b">Profesores</h1>
                            </div>
                            <div class="col-6 ta-r">
                                <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-user-plus btns-nav c-b"></i></button>
                            </div>
                        </div>
                        <hr class="bc-b">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <button class="btn" type="submit" id="img-instructor-participantes"></button><strong id="nombre-instructor-participantes">Goku</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h1 class="c-b">Estudiantes</h1>
                            </div>
                            <div class="col-6 ta-r">
                                <button class="btn my-2 my-sm-0" type="submit"><i class="fas fa-user-plus btns-nav c-b"></i></button>
                            </div>
                        </div>
                        <hr class="bc-b">
                        <div class="row">
                            <div class="col-12 ta-c">
                                <table class="table-responsive align-middle">
                                    <tbody id="table-participantes">
                                        <!---asignaciones-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!---div oculto navbar vertical-->
    <div class="collapse navbar-vertical sombra mt-0 p-4" id="navbar-vertical">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-divs">
                        <button class="btn my-2 my-sm-0 ml-auto" type="button"  data-toggle="collapse" data-target="#navbar-vertical" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars btn-barras btns-nav fa-lg"></i></button>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-3 mt-4">
                                <div onclick="returnIndex()"><i class="fas fa-home btns-nav fa-lg ml-4"></i><a class="a-nav-vertical"> Todas las clases</a></div>
                                <hr>
                            </li>
                            <h6>Clases</h6>
                            <br>
                            <div id="clases-instructor">
                                <!---clases en navbar-->
                            </div>
                        </ul>
                        <div style="margin-bottom: 660px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---div oculto para los usuarios instructores-->
    <div class="collapse div-list-instructores sombra mt-0 p-1" id="list-instructores">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-divs">
                        <ul class="nav flex-column">
                            <li class="nav-item ta-r">
                                <div><button class="btn my-2 my-sm-0 ml-auto" type="button" data-toggle="collapse" data-target="#list-instructores" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-times btns-nav fa-lg ml-auto"></i></button><a class="a-nav-vertical"></a></div>
                            </li>
                            <li class="nav-item mb-3" onclick="viewClase('${e.codigo}')">
                                <div class="row">
                                    <div class="col-3 pb-0">
                                        <img class="img-profile mt-2" src="../src/profile-pics/goten.png" alt="">
                                    </div>
                                    <div class="col-9">
                                        <div class="row" id="descrip-clase-${indice}">
                                        <div class="col-12"><a class="navbar-brand title-classRoom mt-0 pt-0 pb-0"><small><strong>goku</strong></small></a></div>
                                        <div class="col-12"><p class="mb-0"><small>goku@gmail.com</small></p></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/controlador_2.js"></script>
</body>
</html>